extends layout


block content
  h1= title
  p Welcome to #{title}
  br
  br
  br

  p
    a(href="/sign-in") Sign in
    br
    br
    a(href="/sign-up") Sign up
    br
    br
    a(href="/find-atm") Find nearest ATM
    br
    br


