body {
		background: url(https://cpb-us-w2.wpmucdn.com/blogs.sjsu.edu/dist/f/94/files/2015/09/Schmitz_GeneralCampus_7631_1_02-rprer4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
}

form {
	margin: 0 auto;
	width: 250px;
}
