// Sign-up Index Template

doctype html

head
    title Sign-up
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>

body
    h1 Welcome to Spartan Financial Group Banking
    h2 Create an account
    br

    form(method = "post" action = "/sign-up")
        p First name:
        <input type="text" name="first-name">
        <br>

        p Last name:
        <input type="text" name="last-name">
        <br>

        p Email:
        <input type="text" name="email">

        p Password:
        <input type="password" name="password">

        p Please re-enter your password:
        <input type="password" name="confirm-password">

        <br>
        br
        <input type="submit">

    <script>$.backstretch("img/SJSU_campus.jpg");</script>